<html>
<head>
  <title>Sip Screen</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- gives browser instructions on how to control
  page dimensions and scaling -->

  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/bootstrap-theme.css" rel="stylesheet">
  <link href="css/plant.css" rel="stylesheet">

  <script src="js/jquery-1.11.0.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/takesip.js"></script>
</head>
<body>
  <div class="container">
    <h2><i class="arrow leftArrow" onclick="history.back(-1)"></i>Sip</h2>
    <hr size="150">

    <div class="cup sip-tracker" id="0" style="width:100%">
      <img src="/images/Cup0.png" style="width:40%" ... />
    </div>

    <form id="addFriendForm" role="form" method="get" action="/update">
        <input type="submit" id="submitBtn" class="btn btn-default" value="Take a Sip!"></input>
      </form>

    <div class="btn-group" style="width:100%">
      <a href="sip"><button class="fillbtn" style="width:19%">Sip</button></a>
      <a href="friends"><button class="fillbtn" style="width:19%">Friends</button></a>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src= "js/bootstrap.js"></script>

</body>
</html>
